* {
  margin: 0;
  padding: 0;
}

.MainContainerBook {
  border: 1px solid rgba(106, 106, 106, 0.221);
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 5px 0 0 5px;

  .HeaderBook-Container {
    display: flex;
    justify-content: space-between;
    width: 70%;

    .InfoBook-Container {
      width: 60%;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .Buttons-info {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        height: 20px;

        button {
          border: none;
          background: transparent;
          color: blue;
          padding: 2px;
        }

        button:hover {
          color: rgb(82, 82, 227);
          border-bottom: 1px solid blue;
        }

        hr {
          border: none;
          background-color: black;
          width: 0.1px;
          height: 30%;
          align-self: center;
        }
      }
    }

    .Graphic-Container {
      width: 40%;
      display: flex;

      .Graphic {
        width: 49%;
        display: flex;
        justify-content: center;
        align-items: center;

        .circular-progress-container {
          width: 40px;
          height: 40px;
          padding: 0.63rem 0.625rem 0.75rem 0.75rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .circular-progress {
            position: absolute;
            border: solid 5px #307bbe;
            border-left-color: #e8e8e8;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border-style: solid;
            border-width: 5px;
            transform: rotate(45deg);
          }
        }
      }

      .Data-Graphic-Container {
        display: flex;
        flex-direction: column;
        width: 49%;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
    }
  }

  .hr-line {
    border: none;
    background-color: rgba(0, 0, 0, 0.148);
    width: 1px;
    height: 80%;
    align-self: center;
  }

  .Update-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;

    .current-title {
      font-weight: 800;
      font-size: 10px;
      color: rgba(128, 128, 128, 0.674);
    }

    .chapter {
      font-weight: 800;
      font-size: 15px;
      color: rgba(5, 5, 5, 0.674);
      padding: 5px;
    }

    .Update-button {
      border: none;
      cursor: pointer;
      background-color: gray;
      border-radius: 30px;
      padding: 2px 5px;
      color: white;
      text-shadow: 0 0 2px black;
      box-shadow: 1px 2px 0 1px black;
    }

    .Update-button:active {
      transform: scale(0.995);
      background-color: rgb(90, 89, 89);
      color: rgb(200, 200, 200);
    }
  }
}

.MainContainerBook:hover {
  transform: scale(0.995);
  box-shadow: 0 0 10px rgb(197, 197, 197);
}
