* {
  margin: 0;
}

.form-section {
  width: 100%;

  .form-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 10px;

    .Input-title {
      width: 20%;
    }

    .Input-Author {
      width: 20%;
    }

    .CategorysMenu {
      width: 10%;
    }

    .addBooksBtn {
      width: 15%;
    }
  }
}
