* {
  margin: 0;
}

// Variables
$letter-colors: #0290FF;

.form-section {
  width: 100%;

  .form-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 10px;

    input {
      width: 20%;
      height: 40px;
      font-size: 20px;
      padding: 0 0 0 10px;
      background:$letter-colors;
      border: none;
      color: white;
      border-radius: 30px;
    }

    ::placeholder {
      color: white;
    }

    .Input-title {
      outline: none;
    }

    .Input-Author {
      outline: none;
    }

    .CategorysMenu {
      width: 20%;
      height: 40px;
      font-size: 20px;
      background:$letter-colors;
      color: white;
      border-radius: 30px;

      .option_default {
        text-align: center;
      }
    }

    .addBooksBtn {
      width: 20%;
      height: 40px;
      font-size: 20px;
      background:$letter-colors;
      color: white;
      border: none;
      border-radius: 30px;
    }

    .addBooksBtn:hover {
      transform: scale(0.95);
    }
  }
}
