* {
  margin: 0;
  padding: 0;
}

.Father-Books {

  .container-UlBooks {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 40px auto 40px auto;

    .Ul-books {
      width: 80%;
    }
  }

  .Container-FormAdding {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    .BookPage-title {
      padding: 0 0 0 20px ;
      font-size: 30px;
    }
  }

}
