* {
  margin: 0;
}

// Variables for the links
$letter-colors: #0290FF;
$letter-width: 200;
$Link-decoration: none;
$link-text-shadow: 1px 1px 0 black;
$Font-size-links: 0.813rem;
$links_color_active: #121212;
$links_color_normal: black;
$lettler_spacing: 3.9px;


.NavBarContainer {
  background-color: rgb(250, 250, 250);
  border-bottom: 3px solid rgba(128, 128, 128, 0.341);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
  z-index: 999;

  .Container_titleNavBar_Links {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;

    .titleNavBar {
      font-size: 1.875rem;
      font-weight: 700;
      color: $letter-colors;
    }

    .LinksContainer {
      display: flex;
      flex-wrap: wrap;
      width: 290px;
      justify-content: center;
      justify-content: space-between;

      .Links_Navbar {
        padding: 5px 20px;
        border-radius: 30px;
        font-size: $Font-size-links;
        font-weight: $letter-width;
        text-decoration: $Link-decoration;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: $lettler_spacing;
      }

      .Links_Navbar:hover {
        text-decoration: underline;
        text-shadow: 0 0 10px rgb(69, 103, 213);
        color: rgb(46, 30, 30);
      }

      .Links_Navbar:active {
        transform: scale(0.9);
        color: rgb(16, 16, 16);
      }
    }
  } 

  .IconNavBar {
    font-size: 25px;
    margin-right: 10%;
    cursor: pointer;
    color: $letter-colors;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .Icon_user {
    border: 1px solid #0000006c;
    border-radius: 50%;
    padding: 8px;
  }

}
